body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}
.background-image {
  width: 250px;
  margin-top: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#timer {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  font-size: 20px;
  margin: 10px;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

button:nth-child(1) {
  background-color: #28a745;
  color: white;
}

button:nth-child(2) {
  background-color: #ffc107;
  color: black;
}

button:nth-child(3) {
  background-color: #dc3545;
  color: white;
}
